/*GENERAL VALUES*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
  --heading-colour: #97c9c9;
  --secondary-colour: #55c0b2;
  --paragraph-colour: #f6fdfb;
  --background-color: #1f1f1f;
}
*{
  margin: 0;
  font-family: 'Playfair Display', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: var(--background-color);
}
p{
  color: var(--paragraph-colour);
}
p::selection{
  color: var(--background-color);
  background-color: var(--secondary-colour);
}
/*NAVBAR*/
.nav{
  padding-top: 10px;
  text-align: center;
  margin: 0 auto;
  border-bottom: 2px solid var(--secondary-colour);
  position: sticky;
  background-color: var(--background-color);
  top: 0;
  z-index: 1;
}
.blogs, .search-wrapper > .blogs, .blog-div{
  width: 60%;
  margin: 0 auto;

}

.title{
  margin: 10px auto;
  color: var(--heading-colour);
  width: fit-content;
}
.nav a{
  text-decoration: none;
}
.navlinks{
  width: 60%;
  margin: auto;
  display: flex;
}
.navlinks a{
  text-decoration: none;
  padding: 10px;
  box-sizing: border-box;
  color: var(--paragraph-colour);
  font-size: 1.1em;
  margin: 15px 0;
}

.search{
  margin-left: auto;
  width: fit-content;
  height: 35px;
  box-sizing: border-box;
  padding-top: 10px;    
}
.search::before{
    content: "";
    background-image: url(img/search-icon.png);
    background-size: cover;
    display: inline-block;
    position: absolute;
    right: 10px;
    height: 25px;
    width: 25px;
}
.search-wrapper{
    position: fixed;
    z-index: 1;
    right: 20px;
    bottom: 20px;
}
.search-input{
    position: fixed;
    top:125px;
    height: 70px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}
.search-container{
  padding-bottom: 10px;
  width: 45px;
  margin-left: auto;
  background-color: var(--secondary-colour);
  border-radius: 100%;
}
.search-container:hover{
    background-color: white;
    cursor: pointer;
}

.searchbar{
z-index: 1;
border-radius: 5px;
height: 2em;
width: 200px;
}
.navlinks a:hover, .search:hover{
  color: var(--secondary-colour);
  cursor: pointer;
}
.navlinks a:nth-child(1){
  margin-right: auto;
}
.active{
  font-weight: bold;
}
.title:hover{
  color: var(--secondary-colour);
}
/*HOME PAGE*/

.blogs{  
  text-align: center;
  color: var(--secondary-colour);
}

.blogs p{
  text-align: justify;
  line-height: 2em;
}

.blogInfo{
  text-decoration: none;
  color: var(--secondary-colour);
  margin-top: 60px;
  box-sizing: border-box;
  display: block;
}
.blogInfo:hover{
background-color: #363636;
}

.blogInfo:hover .clickToRead{
  color: var(--heading-colour);
}
/*FOOTER*/
.footer{
  width: 60%;
  height: fit-content;
  display: flex;
  margin: 0 auto;
  background-color: var(--paragraph-colour);
  text-align: center;
}
.social-links{
  width: 50%;
  margin: auto;
}
.social-links img{
    width: 30px;
    margin: 0 5px;
    height: 30px;
}
/*404 error*/ /* blog loading message */
.not-found-error, .blog-loading{
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.not-found-error a{
  text-decoration: none;
  margin-top: 30px;
  font-weight: bold;
}

/*INDIVIDUAL BLOG PAGES*/
.blog-div p{
  margin:25px 0;
}
.blog-title{
color: var(--heading-colour);
word-break: break-all;
}
.blog-body{
line-height: 2em;
text-align: justify;

}
.delete-blog{
  text-decoration: underline;
  display: block;
  padding: 0;
  width: max-content;
  margin-left: auto;
  margin-bottom: 25px;
  color: #ff2424;
}
.delete-blog:hover, .edit-blog:hover{
  cursor: pointer;
  color: var(--heading-colour);

}
.edit-blog{
  display: block;
  text-decoration: underline;
  width: max-content;
  margin-top: 20px;
  margin-left: auto;
  color: var(--paragraph-colour);
}

/*CREATE NEW BLOG*/
.create-blog{
  text-align: center;
}
.create-blog h1{
  color: var(--heading-colour);
  margin: 10px 0;
  font-size: 1.5em;
}
.create-blog label{
  font-weight: bold;
}
.create-blog label, .create-blog button{
  display: block;
}
.create-blog input, .create-blog button{
  margin: 0 auto 20px 0;
}
.create-blog input, .create-blog textarea{
  width: 90%;
}
.create-blog button{
  margin: 20px auto;
  width: 100px;
  height: 35px;
  border: none;
  font-size: 1.1em;
  text-align: center;
  border-radius: 5px;
}
.create-blog button:hover{
  cursor: pointer;
  color: white;
  background-color: var(--heading-colour);
}
@media screen and (min-width:768px) {

.search-container {
    bottom: unset;
    position: sticky;
}
.search-input{
    top:138px;
}
/*SEARCHBAR AND SEARCH ICON STICKY FIX*/

.search-wrapper{
    top: 153px;
}
  .navlinks{
    justify-content: unset;
  }
  .navlinks a{
    margin: 20px 0;
  }


  .blogInfo{
    padding: 10px;
    word-break: break-all;
  }

  .footer{
    max-width: unset;
  }
  .create-blog input, .create-blog textarea{
    width: 500px;
    resize: vertical;
  }

}
@media screen and (max-width: 400px) {
 .social-links{
  grid-template-columns: 1fr;
  gap: 20px;
 } 
 .footer{
  height: fit-content;
 }
}